<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sih.pmkvy">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.weaverprojects.gpstest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.signup_activity_student"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".find_centre.traning_centre"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".centre_complete_info.centre_info_display"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".login.login_activity_student"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course_info.course_info_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".homepage.homepage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".settings.settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course_provided_center.course_provide_center_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registration_form.registration_form"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".gps_location.gps_location"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".about_pmkvy.about_pmkvy"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feedback.feedback"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.MainActivity" />

        <activity
            android:name=".getdata"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".navigation_bar.navigation_bar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".student_dashboard.dashboardactivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".browse_course.browse_course"
            android:theme="@style/AppTheme" />
    </application>

</manifest>